.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 3em;
  width: auto;
  margin-left: 2em;
  background-position:left;


}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-Bg {
  background-image: url("/Graphics/BG.png");
  background-position: center;
  background-size: 100% 70%;
  bottom: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
